@import "variable";
/*Section*/
section{
  margin-top: 130px;
}
%border_for_div{
  max-width: 360px;
  width: 100%;
  height: 241px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
%p{
    font-size: 16px;
    font-weight: 400;
    font-family: $fontRoboto;
    color: $mainColor;
    line-height: 24px;
    opacity: 0.6;
}

.pen_foods_block{
  display: flex;
  justify-content: space-around;

  img{
    position: absolute;
    margin: -27px 148px;
    mix-blend-mode: darken;
  }
  .first_food{
    margin: -20px 160px;
  }
  .second_food{
    margin: -28px 153px;
  }
  .third_food{
    margin: -20px 162px;
  }
  .first_products{
    @extend %border_for_div;
  }
  .second_products{
    @extend %border_for_div;
    border: none;
    box-shadow: 0 0 1em $lightOrangeColor;
  }
  .third_products{
    @extend %border_for_div;
  }
  .section_for_product{
    margin-top: 40px;
  }
  .title_in_products{
    width: 310px;
    height: 76px;
    margin: 0 auto;
    text-align: center;

    h3{
      font-size: 25px;
      font-weight: 400;
      line-height: 37px;
      color: $mainColor;
      font-family: $fontPoppins;
    }
  }
  .text_in_products{
    width: 298px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    @extend %p;
  }
  .see_details_link{
    width: 80px;
    height: 24px;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;

    li{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      font-family: $fontRoboto;
    }
    a{
      color: $orangeColor;
    }
  }
}
.popular_product{
  padding-top: 118px;

}
.title_popular_product{
  text-align: center;

  h1{
    font-size: 32px;
    font-weight: 500;
    font-family: $fontPoppins;
    color: $mainColor;
    line-height: 48px;
  }
}
.text_popular_product{
  width: 505px;
  height: 65px;
  text-align: center;
  margin: 0 auto;
  @extend %p;
}
.popular_decoration{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;

  div{
    width: 555px;
    height: 420px;
    background-color: $lightOrangeColor;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  img{
    mix-blend-mode: darken;
    margin: 0 auto;
  }
}
.title_for_decoration{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

  h5{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: $fontPoppins;
    line-height: 37px;
  }

  .link_decoration{
    text-align: center;
    padding-top: 9px;

    a{
      font-size: 16px;
      font-weight: 400;
      font-family: $fontRoboto;
      line-height: 19px;
      color: $orangeColor;
    }
  }
}
.block_dog_leash{
  display: flex;
  justify-content: space-around;
  padding-top: 66px;
  div{
    width: 360px;
    height: 273px;
    background-color: $lightOrangeColor;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  img{
    mix-blend-mode: darken;
    margin: 0 auto;
  }
}
.title_for_leash{
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
  h5{
    font-size: 20px;
    font-weight: 500;
    font-family: $fontPoppins;
    line-height: 30px;
    text-align: center;
  }
  .link_decoration{
    text-align: center;
    padding-top: 17px;
    a{
      font-size: 16px;
      font-weight: 400;
      font-family: $fontRoboto;
      line-height: 18px;
      color: $orangeColor;
    }
  }
}
.button_for_leash{
  display: flex;
  justify-content: center;
  padding-top: 46px;

  button{
    font-size: 16px;
    font-weight: 400;
    font-family: $fontRoboto;
    line-height: 24px;
    color: $orangeColor;
    background: #fff;

    padding: 12px 30px;
    border: 1px solid rgba(226,123,58,0.15);
    box-sizing: border-box;
    border-radius: 4px;
  }
}