/*Header*/
.header {
  max-width: 100%;
  height: 693px;
  background: linear-gradient(106deg, #fff 72%, #FCF2EB 28%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  font-family: Roboto;
  color: #170C04;
}

.menu_block_img {
  align-items: center;
  display: flex;
  padding-right: 260px;
}
.menu_block_img img {
  padding-right: 5px;
}
.menu_block_img p {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}

.link_menu {
  padding-right: 70px;
}
.link_menu ul {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.link_menu a {
  color: #170C04;
}

.ul_link {
  padding-right: 55px;
}

.search_menu_block img {
  padding-right: 40px;
}

.section_in_header {
  display: flex;
}

.title_in_header {
  padding: 150px 0 0 70px;
}
.title_in_header h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  font-family: Poppins;
  color: #170C04;
}

.img_in_header {
  mix-blend-mode: darken;
  padding-top: 50px;
}

body {
  padding: 0;
  margin: 0;
}

div, p, a, img, form, button {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

/*Section*/
section {
  margin-top: 130px;
}

.pen_foods_block .third_products, .pen_foods_block .second_products, .pen_foods_block .first_products {
  max-width: 360px;
  width: 100%;
  height: 241px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.products_testimonial .text_testimonial, .products_gallery .popular_product_block .o-popular_product p, .text_for_subscription p, .dog_care .dog_care_text div p, .text_popular_product, .pen_foods_block .text_in_products {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  color: #170C04;
  line-height: 24px;
  opacity: 0.6;
}

.text_for_subscription a, .title_for_leash .link_decoration a, .pen_foods_block .see_details_link a {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 18px;
  color: #E27B3A;
}

.products_testimonial .title_testimonial h1, .products_gallery .popular_product_block .o-popular_product h1, .title_for_subscription h1, .dog_care .dog_care_text div h1, .title_popular_product h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 45px;
  color: #170C04;
}

.pen_foods_block {
  display: flex;
  justify-content: space-around;
}
.pen_foods_block img {
  position: absolute;
  margin: -27px 148px;
  mix-blend-mode: darken;
}
.pen_foods_block .first_food {
  margin: -20px 160px;
}
.pen_foods_block .second_food {
  margin: -28px 153px;
}
.pen_foods_block .third_food {
  margin: -20px 162px;
}
.pen_foods_block .second_products {
  border: none;
  box-shadow: 0 0 1em #FCF2EB;
}
.pen_foods_block .section_for_product {
  margin-top: 40px;
}
.pen_foods_block .title_in_products {
  width: 310px;
  height: 76px;
  margin: 0 auto;
  text-align: center;
}
.pen_foods_block .title_in_products h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  color: #170C04;
  font-family: Poppins;
}
.pen_foods_block .text_in_products {
  width: 298px;
  height: 48px;
  margin: 0 auto;
  text-align: center;
}
.pen_foods_block .see_details_link {
  width: 80px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
}
.pen_foods_block .see_details_link li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Roboto;
}
.pen_foods_block .see_details_link a {
  color: #E27B3A;
}

.popular_product {
  padding-top: 118px;
}

.title_popular_product {
  text-align: center;
}
.text_popular_product {
  width: 505px;
  height: 65px;
  text-align: center;
  margin: 0 auto;
}

.popular_decoration {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.popular_decoration div {
  width: 555px;
  height: 420px;
  background-color: #FCF2EB;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.popular_decoration img {
  mix-blend-mode: darken;
  margin: 0 auto;
}

.title_for_decoration {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
.title_for_decoration h5 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 37px;
}
.title_for_decoration .link_decoration {
  text-align: center;
  padding-top: 9px;
}
.title_for_decoration .link_decoration a {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  color: #E27B3A;
}

.block_dog_leash {
  display: flex;
  justify-content: space-around;
  padding-top: 66px;
}
.block_dog_leash div {
  width: 360px;
  height: 273px;
  background-color: #FCF2EB;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.block_dog_leash img {
  mix-blend-mode: darken;
  margin: 0 auto;
}

.title_for_leash {
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
}
.title_for_leash h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 30px;
  text-align: center;
}
.title_for_leash .link_decoration {
  text-align: center;
  padding-top: 17px;
}
.button_for_leash {
  display: flex;
  justify-content: center;
  padding-top: 46px;
}
.button_for_leash button {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #E27B3A;
  background: #fff;
  padding: 12px 30px;
  border: 1px solid rgba(226, 123, 58, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
}

.dog_care {
  padding-top: 130px;
  display: flex;
}
.dog_care .dog_care_text {
  padding-top: 155px;
}
.dog_care .dog_care_text h2 {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 19px;
  text-transform: uppercase;
  color: #E27B3A;
  opacity: 0.8;
  letter-spacing: 0.2em;
}
.dog_care .dog_care_text div {
  width: 487px;
}
.dog_care .dog_care_button {
  display: flex;
  padding-top: 40px;
}
.dog_care .dog_care_button .c-button_appointment {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #fff;
  padding: 12px 30px;
  margin-right: 30px;
  border-radius: 24px;
  border: none;
  background: #E27B3A;
}
.dog_care .dog_care_button .c-button_details {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #E27B3A;
  border-radius: 24px;
  background: #fff;
  border: 1px solid rgba(226, 123, 58, 0.15);
  padding: 12px 30px;
}
.dog_care .wrapper {
  position: relative;
}
.dog_care .mask {
  position: absolute;
  width: 631px;
  height: 536px;
  clip-path: url(#my-clip-path);
  background: #fff;
  z-index: 5;
  top: 0;
  left: 0;
}
.dog_care .svg {
  width: 70px;
}

.title_for_subscription {
  text-align: center;
  margin: 0 auto;
  width: 505px;
}
.title_for_subscription h1 {
  padding: 0 20px;
}

.subscription_work {
  padding-top: 115px;
}

.block_with_dog_img {
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
}

.text_for_subscription {
  display: flex;
  justify-content: space-around;
}
.text_for_subscription div {
  width: 360px;
  padding-top: 51px;
}
.text_for_subscription h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 28px;
  color: #170C04;
  text-align: center;
}
.text_for_subscription p {
  text-align: center;
}
.text_for_subscription li {
  padding-top: 15px;
  text-align: center;
}
.subscribe {
  display: flex;
  justify-content: center;
  padding-top: 46px;
}
.subscribe button {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #fff;
  padding: 12px 30px;
  border-radius: 24px;
  border: none;
  background: #E27B3A;
}

.products_gallery {
  display: flex;
  justify-content: space-evenly;
  padding-top: 130px;
}
.products_gallery .popular_product_block {
  max-width: 554px;
}
.products_gallery .popular_product_block .o-popular_product {
  text-align: center;
}
.products_gallery .popular_product_block .o-block_with_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
}
.products_gallery .popular_product_block .o-block_with_img .o-product_img {
  display: flex;
  width: 262px;
  height: 170px;
  background-color: #900A08;
  border-radius: 5px;
}
.products_gallery .popular_product_block .o-block_with_img .o-product_img img {
  padding: 20px 40px;
  mix-blend-mode: darken;
}
.products_gallery .popular_product_block .o-block_with_img .first {
  background-color: rgba(144, 10, 8, 0.1);
}
.products_gallery .popular_product_block .o-block_with_img .second {
  background-color: rgba(36, 61, 126, 0.1);
}
.products_gallery .popular_product_block .o-block_with_img .third {
  background-color: rgba(128, 1, 7, 0.1);
}
.products_gallery .popular_product_block .o-block_with_img .fourth {
  background-color: rgba(196, 140, 174, 0.1);
}
.products_gallery .popular_product_block .o-block_with_img .images {
  margin-bottom: 30px;
}
.products_gallery .popular_product_img {
  width: 555px;
  height: 509px;
  background: rgba(196, 21, 75, 0.1);
  border-radius: 10px;
  display: flex;
}
.products_gallery .popular_product_img img {
  padding: 39px 46px;
  mix-blend-mode: darken;
}

.products_testimonial {
  padding-top: 120px;
}
.products_testimonial .title_testimonial {
  text-align: center;
}
.products_testimonial .block_with_testimonial {
  width: 555px;
  height: 272px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  margin-top: 52px;
}
.products_testimonial .icon {
  display: flex;
}
.products_testimonial .icon .commas {
  opacity: 0.06;
  padding: 30px;
}
.products_testimonial .icon .user {
  padding-left: 170px;
}
.products_testimonial .text_testimonial {
  text-align: center;
  margin: 0 auto;
  width: 495px;
}
.products_testimonial .mark {
  text-align: center;
}
.products_testimonial .checked {
  color: #E27B3A;
}
.products_testimonial .text_with_commas .name_street {
  display: flex;
}
.products_testimonial .text_with_commas .name_street h1 {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #170C04;
}
.products_testimonial .text_with_commas .name_street p {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #170C04;
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
